name: MLOps Image Processing Pipeline

on:
  push:
    branches: [ master ]
permissions:
  contents: write
  actions: write
  id-token: write
  pull-requests: write
  issues: write


jobs:
  image-processing:
    runs-on: ubuntu-latest

    env:
      RAW_BUCKET: ${{ vars.RAW_BUCKET }}
      PROCESSED_BUCKET: ${{ vars.PROCESSED_BUCKET }}
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}



    steps:
    # -----------------------------
    # Checkout Code
    # -----------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # -----------------------------
    # Setup Python
    # -----------------------------
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    # -----------------------------
    # Run Image Processing
    # -----------------------------
    - name: Process images and upload to S3
      run: |
        python scripts/preprocess.py \
          --raw-bucket $RAW_BUCKET \
          --processed-bucket $PROCESSED_BUCKET

    # -----------------------------
    # Verify Upload (Optional)
    # -----------------------------
    - name: List processed S3 files
      run: |
        aws s3 ls s3://$PROCESSED_BUCKET/ --recursive
