name: MLOps Image Processing Pipeline

on:
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  image-processing:
    runs-on: ubuntu-latest

    env:
      # Non-secret config
      RAW_BUCKET: ${{ vars.RAW_BUCKET }}
      PROCESSED_BUCKET: ${{ vars.PROCESSED_BUCKET }}
      AWS_DEFAULT_REGION: ap-south-1

      # AWS credentials (SECRETS)
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      MODEL_BUCKET: mlops14242model

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run image preprocessing
      run: |
        python scripts/preprocess.py
    - name: train the model 
      run: |
        python scripts/train.py
